<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" type="text/css" href="css/style.css">
		<link rel="stylesheet" type="text/css" href="css/homeAccountResultsStyle.css">
		<title>SHOP</title>
	</head>
	<body>
		<div class="menu">
			<a href="Home"><button class="menu-button"> Home </button></a>
			<a href="Cart"><button class="menu-button"> Cart </button></a>
			<a href="Orders"><button class="menu-button"> Orders </button></a>
		</div>	
		
		<br>
		
		<div class="container">		
			<h1 class="title"> ACCOUNT </h1>
			<p class="text" th:text="${session.user.email}"></p>
			<p class="text"> Here you can modify your data, empty fields will not change. </p>
			
			<br>
			
			<div>
				<form action="UpdateUser" method="post">
					<label class="label" for="name"> Name: </label> <input class="input" id="name" type="text" name="name" size=40 th:value="${session.user.name}" ><br>
					<label class="label" for="surname"> Surname: </label><input class="input" id="surname" type="text" name="surname" size=40 th:value="${session.user.surname}" ><br>
					<label class="label" for="street"> Street: </label><input class="input" id="street" type="text" name="street" size=40 th:value="${session.user.street}"><br>
					<label class="label" for="civicNumber"> Civic Number: </label><input class="input" id="civicNumber" type="text" name="civicNumber" th:value="${session.user.civicNumber}"> <br>
					<label class="label" for="city"> City: </label><input class="input" id="city" type="text" name="city" size=40 th:value="${session.user.city}" ><br>
					<label class="label" for="state"> State: </label>
						<select name="state" id="state" class="input">
						    <option th:each="state : ${states}" th:value="${state.iso3}" th:text="${state.name}" th:selected="${state.iso3==session.user.state}"></option>
						</select> <br>
					<input class="button" type="submit" value="Save">
				</form>
			</div>
			
			<p th:if="${error!=null}" th:class="${'error'}" th:text="${error}"></p>
			
			<br>
			
			<div>	
				<p class="text"> Otherwise: </p>		
				<a href="Logout"><button class="button">Logout</button></a>
			</div>
		</div>
	</body>
</html>