<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">		
		<link rel="stylesheet" type="text/css" href="css/style.css">
		<link rel="stylesheet" type="text/css" href="css/cartOrdersStyle.css">
		<title>SHOP</title>
	</head>
	<body>	
		<div class="menu">
			<a href="Home"><button class="menu-button"> Home </button></a>
			<a href="Orders"><button class="menu-button"> Orders </button></a>
		</div>		
		<br>	
		
		<div class="container">
			<h1 class="title"> CART </h1>
			<p class="text" th:if="${session.cart.suppliers == null or session.cart.suppliers.isEmpty()}"> Your cart is empty </p>
			<p class="text" th:if="${!session.cart.suppliers.isEmpty()}"> Your cart: </p>
		</div>
		
		<div th:each="supp : ${session.cart.suppliers}">					
			<table class="table">
				<tr>
					<td class="supplier" colspan="4" th:text="${supp.name}"> Supplier Name </td>
				</tr>
				<tr>
					<td class="bold"> Name: </td>
					<td class="bold"> Price: </td>
					<td class="bold"> Quantity: </td>
					<td class="bold"> Total: </td>
				</tr>
				<tr th:each="prod : ${session.cart.items[supp.id]}">
					<td th:text="${prod.product.name}"> Product Name </td>
					<td th:text="${prod.price + ' $'}"> 0 $ </td>
					<td th:text="${session.cart.quantities[prod.id]}"> 0 </td>
					<td th:text="${session.cart.quantities[prod.id]*prod.price + ' $'}"> 0 $ </td>
				</tr>
				<tr>
					<td colspan="1" class="bold"> Shipping cost: </td>
					<td colspan="3" th:text="${supp.shippingCost + ' $'}"> 0 $ </td>
				</tr>
				<tr>
					<td colspan="1" class="bold">Total cost: </td>
					<td colspan="3" th:text="${supp.totalCost + ' $'}"> 0 $ </td>
				</tr>
				<tr>
					<td colspan="2">
						<form action="AddOrder" method="post">
					 		<input type="hidden" name="supplierId" th:value="${supp.id}">
					 		<input class="button" type="submit" value="Order">
				 		</form>
			 		</td>
			 		<td colspan="2">
						<form action="RemoveFromCart" method="post">
					 		<input type="hidden" name="supplierId" th:value="${supp.id}">
					 		<input class="button" type="submit" value="Remove from cart">
				 		</form>
			 		</td>
				</tr>
			</table>
			<br>
		</div>
		
		<p th:if="${error!=null}" th:class="${'error'}" th:text="${error}"></p>
		
	</body>
</html>