<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>SHOP</title>
		<link rel="stylesheet" type="text/css" href="css/style.css">
		<link rel="stylesheet" type="text/css" href="css/cartOrdersStyle.css">
	</head>
	<body>	
		<div class="menu">
			<a href="Home"><button class="menu-button"> Home </button></a>
			<a href="Orders"><button class="menu-button"> Orders </button></a>
		</div>		
		
		<div class="container">
			<h1 class="title">CART</h1>
			<div class="text" th:if="${session.cart.suppliers == null or session.cart.suppliers.isEmpty()}"> Your cart is empty </div>
			<div class="text" th:if="${!session.cart.suppliers.isEmpty()}"> Your cart: </div>
		</div>
		
		<div th:each="supp : ${session.cart.suppliers}">					
			<table class="table">
				<tr>
					<td colspan="4" th:text="${supp.name}"> Supplier Name </td>
				</tr>
				<tr th:each="prod : ${session.cart.items[supp.id]}">
					<td th:text="${prod.product.name}"> Product Name </td>
					<td th:text="${prod.price + ' $'}"> 0 $ </td>
					<td th:text="${session.cart.quantities[prod.id]}"> 0 </td>
					<td th:text="${session.cart.quantities[prod.id]*prod.price + ' $'}"> 0 $ </td>
				</tr>
				<tr>
					<td colspan="2"> Shipping cost: </td>
					<td colspan="2" th:text="${supp.shippingCost + ' $'}"> 0 $ </td>
				</tr>
				<tr>
					<td colspan="2">Total cost: </td>
					<td colspan="2" th:text="${supp.totalCost + ' $'}"> 0 $ </td>
				</tr>
				<tr>
					<td colspan="4">
						<form action="AddOrder" method="get">
					 		<input type="hidden" name="supplierId" th:value="${supp.id}">
					 		<input class="button" type="submit" value="Order">
				 		</form>
			 		</td>
				</tr>
			</table>
			<br>
		</div>
		
		<p th:if="${error!=null}" th:class="${'error'}" th:text="${error}"></p>
		
	</body>
</html>