<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>HOME</title>
	</head>
	<body>
		<a href="Cart"><button>Cart</button></a>
		<a href="Orders"><button>Orders</button></a>
		<a href="Account"><button>Account</button></a>
	
		<h1>HOME</h1>
		<p th:text="${'Welcome back, ' + session.user.name + ' ' + session.user.surname + '!'}" > </p>
		
		<form action="Results" method="get">
			Search product: 
			<input type="text" name="keyword" required >
			<input type="submit" value="Search">
		</form>
		<br>
		
		<table>
			<tr th:each="prod : ${productList}">
				<td th:text="${prod.id}" >0</td>
				<td> <img th:src="${prod.photoPath}" width=80 height=80></td>
				<td th:text="${prod.name}" >Name</td>
				<td th:text="${prod.minPrice}+' $'" >10 $</td>
				<td> <a th:href="${'Results?id=' + prod.id}"> Details </a> </td>
			</tr>
		</table>
		<p th:text="${error}"></p>
	</body>
</html>