<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>SHOP</title>		
		<link rel="stylesheet" type="text/css" href="css/style.css">
		<link rel="stylesheet" type="text/css" href="css/cartOrdersStyle.css">
	</head>
	<body>
		<div class="menu">
			<a href="Home"><button class="menu-button"> Home </button></a>
			<a href="Cart"><button class="menu-button"> Cart </button></a>
		</div>		
		<br>
		
		<div class="container">
			<h1 class="title"> ORDERS </h1>
			<p class="text" th:if="${orders == null or orders.isEmpty()}"> You have not ordered anything yet </p>
			<p class="text" th:if="${!orders.isEmpty()}"> Your orders: </p>
		</div>
		
		<div th:each="ord : ${orders}">		
			<table class="table">
				<tr>
					<td colspan="1">
						<span class="bold">Order id: </span>
						<span th:text="${ord.id}"></span>
					</td>
					<td class="supplier" colspan="3" th:text="${ord.supplier.name}"> Supplier Name </td>
				</tr>
				<tr>
					<td class="bold"> Name: </td>
					<td class="bold"> Price: </td>
					<td class="bold"> Quantity: </td>
					<td class="bold"> Total: </td>
				</tr>				
				<tr th:each="prod : ${ord.products}">
					<td th:text="${prod.product.name}"> Product Name </td>
					<td th:text="${prod.price + ' $'}"> 0 $ </td>
					<td th:text="${ord.quantities[prod.product.id]}"> 0 </td>
					<td th:text="${ord.quantities[prod.product.id]*prod.price + ' $'}"> 0 $ </td>
				</tr>
				<tr>
					<td colspan="1" class="bold"> Shipping cost: </td>
					<td colspan="3" th:text="${ord.shippingPrice + ' $'}"> 0 $ </td>
				</tr>
				<tr>
					<td colspan="1" class="bold"> Total cost: </td>
					<td colspan="3" th:text="${ord.total + ' $'}"> 0 $ </td>
				</tr>
				<tr>
					<td colspan="1" class="bold">Date:</td>
					<td colspan="3" th:text="${ord.date}"></td>
				</tr>
				<tr>
					<td colspan="1" class="bold"> Shipping address: </td>
					<td colspan="3" th:text="${ord.street + ' ' + ord.civicNumber + ', ' + ord.city + ', ' + ord.stateIso3}"></td>
				</tr>				
			</table>
		</div>
		
		<p th:if="${error!=null}" th:class="${'error'}" th:text="${error}"></p>
		
	</body>
</html>