<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>ORDERS</title>
</head>
<body>
	<a href="Home"><button>Home</button></a>
	<a href="Cart"><button>Cart</button></a>
	
	<h1>ORDERS</h1>
	<p> Your orders: </p>
	
	<div th:each="ord : ${orders}">		
		<table border=1>
			<tr>
				<td colspan="4" th:text="${ord.supplier.name}">Supplier Name</td>
			</tr>
			<tr>
				<td>Shipping address:</td>
				<td colspan="3" th:text="${ord.street + ' ' + ord.civicNumber + ', ' + ord.city + ', ' + ord.stateIso3}"></td>
			</tr>
			<tr>
				<td>Date:</td>
				<td colspan="3" th:text="${ord.date}"></td>
			</tr>
			<tr th:each="prod : ${ord.products}">
				<td th:text="${prod.product.name}">Product Name</td>
				<td th:text="${prod.price + ' $'}">0 $</td>
				<td th:text="${ord.quantities[prod.product.id]}">0</td>
				<td th:text="${ord.quantities[prod.product.id]*prod.price + ' $'}">0 $</td>
			</tr>
			<tr>
				<td colspan="2">Shipping cost: </td>
				<td colspan="2" th:text="${ord.shippingPrice + ' $'}">0 $</td>
			</tr>
			<tr>
				<td colspan="2">Total cost: </td>
				<td colspan="2" th:text="${ord.total + ' $'}">0 $</td>
			</tr>
		</table>
		<br>
	</div>
	
	<p th:text=" ${error}"></p>
	
</body>
</html>