@charset "ISO-8859-1";

.menu {
  white-space: nowrap;				/*tutti i bottoni sulla stessa riga*/
  margin-top: 20px;					/*distanza dall'alto*/
  margin-left: 40px;				/*distanza da sinistra*/
  margin-right: 40px;				/*distanza da destra*/
}

.menu-button {
  background-color: #8000ff;		/*colore bottone*/
  border-radius: 5px;				/*angoli arrotondati*/
  color: #FFF;						/*colore font*/
  cursor: pointer;					/*appare manina al passaggio*/
  font-size: 16px;					/*dimensione font*/
  padding: 10px;					/*altezza bottone*/
  width: 50%;						/*larghezza*/
  border: none;						/*nessun bordo*/
}

.menu-button:hover {
  background-color: #8080ff;		/*colore al passaggio con mouse*/
}

.table{
  border: solid;
  background-color: #FFF;			/*colore sfondo*/
  border-radius: 10px;				/*bordo angoli arrotondati*/
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);	/*posizione orizzontale, posizione verticale, dimensione ombra, colore ombra + trasparenza*/
  color: #666;						/*colore font*/
  font-size: 16px;					/*dimensione font*/
  margin: 50px auto;				/*distanza dall'elemento inferiore e centrato*/
  width: 60%;						/*larghezza*/
  padding: 40px;					/*margini interni*/
}

td {
  border: 1px solid #666;
}