@charset "ISO-8859-1";

.menu {
  white-space: nowrap;				/*tutti i bottoni sulla stessa riga*/
  margin-top: 20px;					/*distanza dall'alto*/
  margin-left: 40px;				/*distanza da sinistra*/
  margin-right: 40px;				/*distanza da destra*/
}

.menu-button {
  background-color: #8000ff;		/*colore bottone*/
  border-radius: 5px;				/*angoli arrotondati*/
  color: #FFF;					/*colore font*/
  cursor: pointer;					/*appare manina al passaggio*/
  font-size: 16px;					/*dimensione font*/
  padding: 10px;					/*altezza bottone*/
  width: 33%;						/*larghezza*/
  border: none;						/*nessun bordo*/
}

.menu-button:hover {
  background-color: #8080ff;		/*colore al passaggio con mouse*/
}

.label-search {
  color: #666;					/*colore*/
  font-size: 14px;					/*dimensione font*/
  font-weight: bold;				/*font grassetto*/
}

.input-search {
  border: 1px solid #CCC;			/*bordo: spessore, continuo, colore*/
  border-radius: 5px;				/*bordo angoli arrotondati*/
  font-size: 14px;					/*dimensione font*/
  padding: 10px;					/*altezza della casella*/
  width: 70%;						/*larghezza 70% del contenitore*/
}

.button-search {
  background-color: #df3fca;		/*colore bottone*/
  border-radius: 5px;				/*angoli arrotondati*/
  color: #FFF;					/*colore font*/
  cursor: pointer;					/*appare manina al passaggio*/
  font-size: 16px;					/*dimensione font*/
  padding: 10px;					/*altezza bottone*/
  width: 15%;						/*larghezza 10% del contenitore*/
  border: none;						/*nessun bordo*/
}


.button-search:hover {
  background-color: #e977e1;		/*colore al passaggio con mouse*/
}

.search {
  white-space: nowrap;				/*tutti gli elementi sulla stessa riga*/
  background-color: #FFF;			/*colore sfondo*/
  border-radius: 10px;				/*bordo angoli arrotondati*/
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);	/*posizione orizzontale, posizione verticale, dimensione ombra, colore ombra + trasparenza*/
  width: 85%;					    /*larghezza*/
  padding: 40px;					/*bordi interni*/  
  margin: 20px auto;				/*disatnza dall'elemento inferiore e centrato*/
}

.table{
  background-color: #FFF;			/*colore sfondo*/
  border-radius: 10px;				/*bordo angoli arrotondati*/
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);	/*posizione orizzontale, posizione verticale, dimensione ombra, colore ombra + trasparenza*/
  color: #666;					/*colore font*/
  font-size: 16px;					/*dimensione font*/
  margin: 20px auto;				/*distanza dall'elemento inferiore e centrato*/
  width: 60%;						/*larghezza*/
  padding: 40px;					/*margini interni*/
  text-align: center;				/*testo centrato*/
  table-layout: fixed;				/*colonne larghe uguali*/
}

.column {
  border: 1px solid #666;			/*bordi interni*/
}

.table2{
  background-color: #FFF;			/*colore sfondo*/
  border-radius: 10px;				/*bordo angoli arrotondati*/
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);	/*posizione orizzontale, posizione verticale, dimensione ombra, colore ombra + trasparenza*/
  color: #666;					/*colore font*/
  font-size: 16px;					/*dimensione font*/
  margin: 20px auto;				/*distanza dall'elemento inferiore e centrato*/
  width: 70%;						/*larghezza*/
  padding: 40px;					/*margini interni*/
  text-align: center;				/*testo centrato*/
  table-layout: fixed;				/*colonne larghe uguali*/
}